*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	vertical-align: baseline;
}
html, body {
	background: #eee;
	font-size: 10px;
	
}
img{
	border: none;
}
a{
	text-decoration: none;
}
a:active{text-decoration:none;}
p{
	margin-bottom: 0;
}
header{
	width: 100%;
	height: 4rem;
	background: linear-gradient(to right, #FF6825,#FF127A);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	text-align: center;
	line-height: 4rem;
}
header>input{
	color: white;
	text-indent: 3rem;
	font-size: 1.3rem;
	width: 70%;
	height: 75%;
	background-color: rgba(250,250,250,0.4);
	border-radius: 2rem;
}
.sousuo{
	color: white;
	position: absolute;
	left: 18%;
	top: 30%;
	font-size: 1.5rem;
	opacity: 0.6;
}
section{
	width: 100%;
	/*margin-top: 4rem;*/
	position: relative;
}
.left{
	width: 22%;
	height: 100%;
	position: fixed;
	top: 4rem;
	left: 0;
}
.left>ul>li{
	list-style: none;
	text-align: center;
	line-height: 4rem;
	width: 100%;
	height: 4rem;
	font-size: 1.2rem;
}
.left>ul>li>a{
	color: black;
}
.xx{
	background-color: white;
}
.right{
	width: 79%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	padding: 0 1rem;
	
}
.rm{
	width: 100%;
	padding: 1rem 0 ;
}
.fl{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.fl>span{
	padding-top: 1rem;
	width: 33%;
	text-align: center;
}
footer{
	width: 100%;
	height: 4rem;
	border-top: 1px solid #E9E9E9;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	z-index: 10;
	line-height: 1.9rem;
	display: flex;
	justify-content: space-around;
	background-color: rgba(250,250,250,0.97);
}